@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Dancing+Script:wght@400..700&display=swap');

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}
.titulo {

  font-family: "Dancing Script", cursive;

  font-optical-sizing: auto;

  font-weight: 400;

  font-style: normal;

}
.container-banner{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.img-Banner{
  object-fit: cover;
  width: 100%;
  height: 420px;
  border-radius: 10px;
}
.fontTiza {
  font-family: "Cabin Sketch", cursive !important;
  font-weight: 400;
  font-style: normal;
}
.text-tarea{
  resize: none !important;
  height: 100px;
}
.imgTableProducto{
  width: 250px;

}
.imgCardProducto{
  width: 100px;
  height: 350px;
}
/*media query para dispositivos mobile*/
@media (max-width: 576px){
  .container-banner{
    width: 370px;
  }
  .img-Banner{
    height: auto;
    object-fit: contain;
  }
}
/*media query para tablets*/
@media (min-width: 769px) and (max-width: 1024px){
  .img-Banner{
    height: 320px;
  }
}